@font-face{
    src:url('lol.lnk');
    font-family:let;

}

body{
    background-color: rgb(12, 3, 85);
}
.titulo{
    background-color: rgb(255, 255, 255);
    text-shadow: 15px 12px rgba(72, 14, 232, 0.302);
    color:rgb(10, 25, 73);
    font-family:let;
    text-align:center;
    font-size : 50px;
    margin: 10px 150px ;
    border: 10px black solid;
}
.nin img{
    margin: 10px 500px;
    border: 5px black solid;
    border-radius: 50%;
    width: 200px;
    height: auto;
}
h3{
    background-color: rgb(255, 255, 255);
    font-size : 45px;
    font-family: det;
    color:rgb(255, 7, 7);
    border: 10px black solid;
}
h4{
    background-color: rgb(255, 255, 255);
    font-size : 45px;
    font-family: det;
    color:rgb(20, 8, 242);
    border: 5px black solid;
}
p{
    background-color: rgb(255, 255, 255);
    font-size : 35px;
    font-family: let;
    color:rgb(0, 0, 0);
    border: 10px black solid;
}
table{
    background-color:rgb(252, 250, 255);
    border: 8px black solid;
    font-family: cursive;
}
td{
    background-color: rgba(221, 221, 225, 0.467);
    color: rgb(0, 0, 0);
    font-size: 30px;
    border: 3px black solid;
    text-align: center;
}
th{
    color: rgb(255, 0, 0);
    background-color: rgba(189, 186, 186, 0.747);
    font-size: 35px;
    border: 3px black solid;
}
.adios{
    background-color: rgb(0, 193, 252);
    color: whitesmoke;
}
.hola{
    background-color: rgb(190, 221, 13);
    color: whitesmoke;
}
ul{
    background-color: rgb(4, 187, 248);
    color: whitesmoke;
    font-family: cursive;
    font-size: medium;
}
ol{
    background-color: rgb(1, 108, 214);
    color: white;
    font-family:cursive ;
    font-size: 15px;
}
form{
    width: 50%;
    border: 1px solid rgb(0, 255, 0);
    margin: 20px;
    padding: 20px;
}
label{
    font-size: 12px;
    display: block;
    color: rgb(62, 255, 4);
}
input{
    margin-bottom: 20px;
    width: 100%;
}
textarea{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
button{
    width: 100%;
}
input:focus{
    border: 1px solid rgb(0, 0, 0);;
}